body{
	/*color: #5b5947;*/
	background: url('../images/clouds.jpg') no-repeat center center fixed;
	/*background-color: #cac5a0;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	font-family: sans-serif;
}
.first-div{

}
.header{
	font-size: 20px;
}
.first-par{
	/*font-family: monospace;*/
}
.second-par{

}
/*p{*/
/*	-webkit-animation: myAnimation 5s infinite;*/
/*	animation: myAnimation 5s infinite;*/
/*}*/

/*@-webkit-keyframes 'myAnimation'{*/
/*	50%{*/
/*		background-color: #ffffff;*/
/*	}*/
/*}*/

/*@keyframes 'myAnimation'{*/
/*	50%{*/
/*		background-color: #ffffff;*/
/*	}*/
/*}*/
