body{
	/*color: #5b5947;*/
	background: url('../images/clouds.jpg') no-repeat center center fixed;
	background-color: #cac5a0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	font-family: 'Droid Sans', sans-serif;
}

.first-div{

}

.header{
	font-size: 20px;
	background-color: rgba(255, 255, 255,0.9);
	padding: 20px 30px 20px 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: max-content;
}
.first-par{
	/*font-family: monospace;*/
}
.second-par{
	
}

p{
	border-left: 10px solid #ffffff;
	background-color: rgba(255, 255, 255,0.9);
	padding: 20px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-left: 20px;
}
/*p{*/
/*	-webkit-animation: myAnimation 5s infinite;*/
/*	animation: myAnimation 5s infinite;*/
/*}*/

/*@-webkit-keyframes 'myAnimation'{*/
/*	50%{*/
/*		background-color: #ffffff;*/
/*	}*/
/*}*/

/*@keyframes 'myAnimation'{*/
/*	50%{*/
/*		background-color: #ffffff;*/
/*	}*/
/*}*/
