body {
	background: url('../images/big-car.jpg') no-repeat center center fixed;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	margin: 0;
	color: white;
	text-shadow: 0 0 40px rgba(0, 0, 0, .5);
}

#header {
	display: flex;
	margin: 1em 1em 0 1em;
	font-size: .8em;
	text-transform: uppercase;
	text-shadow: none;
}

#header a img {
	width: 7em;
	padding-top: .1em
}

#logo2 {
	opacity: 0;
	margin: 0 -7em
}

#h-right {}

#header a {
	color: white;
	text-decoration: none;
}

#header a:hover {
	color: #d0d0d0;
}

#header a:hover #logo2 {
	opacity: 1;
}

#h-middle {
	margin: 0 auto;
}

#h-middle a {
	margin: 0 7px;
}

#signin {
	padding-right: 15px;
}

#content {
	margin-top: 20vh;
}

#title h1 {
	text-align: center;
	font-weight: 300;
	margin: 0;
}

#buttons {
	text-align: center;
	margin-top: 4.5vh;
}

#buttons button {
	background-color: rgba(0, 0, 0, .4);
	border-radius: 0;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	padding: none;
	margin: .1em .5em;
	outline: none;
	width: 20vh;
	min-width: 150px;
}

#buttons button:hover {
	border: 1px solid #fff;
}

.butt a {
	display: block;
	padding: .7em .5em;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}

#news {
	text-align: center;
}

#news a {
	margin-top: 2vh;
	color: white;
	/*	display: block;*/
	text-decoration: none;
	/*	text-align: center;*/
	text-transform: uppercase;
}

#news a:hover {
	color: #d40000;
}

#news a i {
	padding: 9px 1px 0px 1px
}

#footer {
	min-width: 750px;
	max-width: 1000px;
	width: 100%;
	position: fixed;
	bottom: 0;
	display: flex;
	height: auto;
	/*		margin: 0 auto;*/
	/*	text-align: center;*/
}

#footer a {
	margin: 0 20px;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: .8em;
}

#footer a img {
	height: 15px;
}

#footer i {
	font-size: .5em;
	margin: 2px auto;
}

#footer a:hover {
	color: #d0d0d0;
}
